*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/gradle.xml

.idea/gradle.xml

*.gradle

.idea/misc.xml

.idea/modules.xml

app/build.gradle

gradle/wrapper/gradle-wrapper.properties


build.gradle

